<section id="accountSheet">
    <table>
        <caption>Chart of accounts</caption>
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1000</td>
            <td>FIXED ASSETS</td>
            <td>Heading</td>
        </tr>
        <tr>
            <td>1010</td>
            <td>Freehold property</td>
            <td class="append">Balance sheet<span class="add-on"><i class="icon-table"></i></span></td>
        </tr>
        <tr>
            <td>1011</td>
            <td>Leasehold property</td>
            <td class="append">Balance sheet<span class="add-on"><i class="icon-table"></i></span></td>
        </tr>
        <tr>
            <td>1020</td>
            <td>Plant and machinery</td>
            <td class="append">Balance sheet<span class="add-on"><i class="icon-table"></i></span></td>
        </tr>
        </tbody>
    </table>
    <footer id='numberOfItems'><p></p></footer>
</section>