<section id="accountSheetSection">
    <a class="buttonClose"></a>
    <section id="accountSheet" class="table" data-tag="<%= destination %>">
        <table>
            <h3 id="accountSheetCaption">Chart of accounts</h3>
            <thead>
            <tr>
                <th class="tableAccountNo">No.</th>
                <th class="tableAccountName">Name</th>
                <th class="tableAccountBalance"></th>
                <th class="tableAccountIcon"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="entryRow">
                    <td>1000</td>
                    <td>FIXED ASSETS</td>
                    <td>Heading</td>
                    <td></td>
                </tr>
                <tr class="entryRow">
                    <td>1010</td>
                    <td>Freehold property</td>
                    <td class="append">Balance sheet<span class="add-on"></span></td>
                    <td><i class="icon-table"></i></td>
                </tr>
                <tr class="entryRow">
                    <td>1011</td>
                    <td>Leasehold property</td>
                    <td class="append">Balance sheet<span class="add-on"></span></td>
                    <td><i class="icon-table"></i></td>
                </tr>
                <tr class="entryRow">
                    <td>1020</td>
                    <td>Plant and machinery</td>
                    <td class="append">Balance sheet<span class="add-on"></span></td>
                    <td><i class="icon-table"></i></td>
                </tr>
            </tbody>
        </table>
        <footer id='numberOfItems'></footer>
    </section>
</section>
<div id="accountSheetMask"></div>