<section id="currentEntry" class="table">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Entry</th>
            <th>Invoice</th>
            <th class="currentEntryText">Text</th>
            <th>Amount</th>
            <th>Account</th>
            <th>VAT</th>
            <th class="currentEntryCA">Contra account</th>
            <th>VAT</th>
            <th>Currency</th>
            <th class="currentEntryHead"></th>
        </tr>
        </thead>
        <tbody id="entryRowWrap">
        </tbody>
    </table>
    <footer id='numberOfItems'><p></p></footer>
</section>