<section id="newEntryFormSection">
    <h3 id="dayBookCaption">Day Book</h3>
    <a class="closeDayBook buttonClose"></a>
    <form id="newEntryForm" class="container-fluid" action="">
        <div id="formBackground" class="row-fluid">
            <div class="leftContainer span3">
                <div class="item">
                    <label for="type">Type</label>
                    <select id="type"
                            data-placeholder="Entry Type"
                            autofocus>
                        <option value=""></option>
                        <option value="journal">Journal Entry</option>
                        <option value="transport">Transportation</option>
                        <option value="meal">Meal</option>
                        <section id="additionalOptionWrap"></section>
                    </select>
                </div>
                <div class="item">
                    <label for="entry">Entry</label>
                    <input type="number" name="entry" id="entry" placeholder="type in number" min="1" step="1">
                </div>
                <div class=item>
                    <label for="entryDate">Date</label>
                    <input type="date" name="date" id="entryDate" placeholder="select a date">
                </div>
            </div>

            <div class="middleContainer span3">
                <div class="item">
                    <div class='input-append'>
                        <label for="accountNo">Account no.</label>
                        <input type="text" name="accountNo" id="accountNo" placeholder="type or select">
                        <button type="button" id="selectNormalAC" class="btn selectAccount"><i class="icon-reorder"></i></button>
                    </div>
                </div>
                <div class="item">
                    <div class='input-append'>
                        <label for="contraAccount">Contra Account</label>
                        <input type="text" name="contraAccount" id="contraAccount" placeholder="type or select">
                        <button type="button" id="selectContraAC" class="btn selectAccount"><i class="icon-reorder"></i></button>
                    </div>
                </div>
                <div class="item">
                    <label for="accountName">Account name</label>
                    <input type="text" name="accountName" id="accountName" readonly>
                </div>
                <div class="item">
                    <label for="contraAccountName">Contra account name</label>
                    <input type="text" name="accountName" id="contraAccountName" readonly>
                </div>
            </div>

            <div class="rightContainer span4">
                <div class="row-fluid">
                    <div class="item span2">
                        <label for="cardType">D/C</label>
                        <select id="cardType"
                                data-placeholder="Card Type">
                            <option value=""></option>
                            <option value="debit">Debit</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>
                    <div class="item span2 offset6">
                        <label for="amount">Amont</label>
                        <input type="number" name="amount" id="amount">
                    </div>
                </div>

                <div class="item">
                    <label for="text">Text</label>
                    <input type="text" name="text" id="text">
                </div>
                <div class="item">
                    <label for="currencyList">Currency</label>
                    <div id="currencyList" class="bfh-selectbox bfh-currencies" data-currency="EUR" data-flags="false">
                        <input id="currency" type="hidden" value="">
                        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
                            <span class="bfh-selectbox-option input-medium" data-option=""></span>
                            <b class="caret"></b>
                        </a>
                        <div class="bfh-selectbox-options">
                            <input type="text" class="bfh-selectbox-filter">
                            <div role="listbox">
                                <ul role="option">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="submitWrap" class="row-fluid">
            <input id="buttonCancel" type="button" class="span2 closeDayBook" value="Cancel">
            <input id="save" type="submit" class="span2" value="Save">
        </section>
    </form>
</section>
<div id="newEntryMask"></div>