body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#newEntry,#buttonCancel,#save {
    -moz-box-shadow:inset 0px 0px 0px 0px #caefab; /*Firefox*/
    -webkit-box-shadow:inset 0px 0px 0px 0px #caefab; /*Chrome and Safari*/
    box-shadow:inset 0px 0px 0px 0px #caefab; /*opera and IE9+*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%); /*opera*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border : 0px;
    display:inline-block;
    color: #fff9fb;
    font-family: 'Lato', sans-serif; /*DELIVERED FROM GOOGLE COULD*/
    font-size:15px;
    font-weight:normal;
    padding:7px 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none;
}
#newEntry:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
     background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%); /*opera*/
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
     background-color:#5cb811;
}
#newEntry:active {
      position:relative;
      top:1px;
}

#newEntry {
    display: block;
}

#today,#dayBook {
    display: inline;
}

/* New Entry Form */

#newEntryWrap {
    z-index: 1000;
}

#newEntryMask {
    background-color: #666;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    opacity: .5;
    z-index: -1;
}
#newEntryWrap, #newEntryMask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#buttonClose {
    position: absolute;
    right: -12px;
    top: -12px;
    height: 28px;
    width: 28px;
    background: no-repeat url(http://dq0buzszpd7cj.cloudfront.net/btn-close-popup.png);
}

#newEntryFormSection {
    width: 800px;
    position: relative;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -mz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border : 0px;
    font-family: 'Lato', sans-serif; /*DELIVERED FROM GOOGLE COULD*/
    font-size:10px;
}

#newEntryForm, #dayBookCaption {
    margin-left: 20px;
    margin-right: 20px;
}
/* new entry form */

#formBackground {
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #dceaf4;
}

#text {
    width: 272px;
}

/* form button */
#submitWrap {
    width:740px;
}

#buttonCancel {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cde4ff), color-stop(1, #b2c6e0) );
    background:-moz-linear-gradient( center top, #cde4ff 5%, #b2c6e0 100% );
    background: linear-gradient(to bottom, #cde4ff 5%, #b2c6e0 100%); /*opera*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #cde4ff;
}
#save {
    float: right;
}

/* form input box length */
input {
    width: 120px;
}

select {
    width: 135px;
}

#contraAccountName, #accountName{
    width: 155px;
}