body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  font-size:15px;
}

a {
  color: #00B7FF;
}

#newEntry,#buttonCancel,#save {
    -moz-box-shadow:inset 0px 0px 0px 0px #caefab; /*Firefox*/
    -webkit-box-shadow:inset 0px 0px 0px 0px #caefab; /*Chrome and Safari*/
    box-shadow:inset 0px 0px 0px 0px #caefab; /*opera and IE9+*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%); /*opera*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border : 0px;
    display:inline-block;
    color: #fff9fb;
    font-family: 'Lato', sans-serif; /*DELIVERED FROM GOOGLE COULD*/
    font-weight:normal;
    padding:7px 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none;
}
#newEntry:hover,#save:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
     background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%); /*opera*/
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
     background-color:#5cb811;
}
#newEntry:active,#buttonCancel:active,#save:active {
      position:relative;
      top:1px;
}

#newEntry {
    display: block;
}

#today,#dayBook {
    display: inline;
}

/* New Entry Form */

#newEntryWrap,#accountSheetWrap {
    z-index: 1000;
}

#newEntryMask, #accountSheetMask {
    background-color: #666;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    opacity: 0.5;
    z-index: -1;
}

#newEntryWrap, #newEntryMask, #accountSheetWrap, #accountSheetMask  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#newEntryWrap, #newEntryMask, #accountSheetMask{
    display: none;
}

.buttonClose {
    position: absolute;
    right: -12px;
    top: -12px;
    height: 28px;
    width: 28px;
    background: no-repeat url(http://dq0buzszpd7cj.cloudfront.net/btn-close-popup.png);
}

.buttonClose:hover {
    cursor: pointer;
}

#newEntryFormSection, #accountSheetSection {
    width: 800px;
    position: relative;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -mz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -o-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.65);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border : 0px;
    /*font-family: 'Lato', sans-serif; *//*DELIVERED FROM GOOGLE COULD*/
    /*font-size:10px;*/
}

#newEntryForm, #dayBookCaption, #accountSheetCaption {
    margin: 20px;
}

/* current entry*/
#currentEntryWrap {
    width: 1002px;
}
thead {
    background-color: #0a67ba;
    color : #ffffff;
    /* table does not have margin and tr does not have border radius */
}
.currentEntryHead {
    width: 50px;
}

.entryRow:nth-child(odd) {
    background-color: #cde4ff;
}

.remove {
    margin-right: 10px;
}

/* new entry form */
#formBackground {
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #dceaf4;
}

#text, .currentEntryText {
    width: 272px;
}

/* form button */
#submitWrap {
    width:740px;
}

#buttonCancel {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cde4ff), color-stop(1, #b2c6e0) );
    background:-moz-linear-gradient( center top, #cde4ff 5%, #b2c6e0 100% );
    background: linear-gradient(to bottom, #cde4ff 5%, #b2c6e0 100%); /*opera*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cde4ff', endColorstr='#b2c6e0');
    background-color: #cde4ff;
}

#buttonCancel:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2c6e0), color-stop(1, #cde4ff) );
    background:-moz-linear-gradient( center top, #b2c6e0 5%, #cde4ff 100% );
    background: linear-gradient(to bottom, #b2c6e0 5%, #cde4ff 100%); /*opera*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #b2c6e0;
}

#save {
    float: right;
}
/* date picker */
.datepicker-days table thead {
    background-color : #ffffff;
    color: #000000;
}

/* form input box length */
input {
    width: 120px;
}

select {
    width: 135px;
}

#contraAccountName, #accountName{
    width: 155px;
}

/* account sheet */
#accountSheetSection {
    width: 663px;
}
#accountSheetWrap {
    display: none;
}
#accountSheet {
    padding-bottom: 20px;
}

#accountSheet table, #accountSheet footer {
    margin: 20px;
}

.tableAccountName{
    width: 400px;
}
.tableAccountNo{
    width: 50px;
}

.tableAccountBalance {
    width: 100px;
}

#numberOfItems p {
    float: right;
}

#accountSheet tr:hover {
    background-color: rgba(222, 222, 222, 0.45);
    opacity: 0.5;
    cursor: default;
}

td .icon-table {
    cursor: pointer;
}

/* smaller screen */
@media (max-width: 767px) and (max-width:979px) {
    body {
        font-size:12px;
    }
    /* current entry table*/
    .table th, .table td {
        padding: 4px;
        line-height: 15px;
    }
    .remove {
        margin-right: 0px;
    }
    #currentEntryWrap {
        width: 100%;
    }
    /* new entry form*/
    #newEntryFormSection {
        width: 500px;
        margin-top: 80px;
    }
    #submitWrap {
        width:460px;
    }
    #formBackground {
        width: 440px;
    }
    #submitWrap>input {
        width: 100px;
    }
    .leftContainer, .middleContainer, .rightContainer {
        border-style: solid;
        border-radius: 10px;
        border-color: rgba(222, 222, 222, 0.45);
        padding: 10px;
        margin-bottom: 5px;
        border-spacing: 5px;
        border-width: 1px;
        box-shadow: 0px 0px 3px 1px rgba(222, 222, 222, 0.45) inset;
    }
    #text {
        width : 100%;
    }
    /* search box */
    .bfh-selectbox-options,.bfh-selectbox-options ul {
        width: 160px;
    }
    li a {
        width: 120px;
    }
    /* account sheet */
    #accountSheetSection {
        width: 630px;
    }
}